    @font-face {
        font-family: 'NilMaya';
        src: url(https://github.com/subharoy7492/FontFace/blob/18e6490dfadb065ae4e869146f8020b37d9de80d/BH%20Nil%20Maya%20Unicode.woff2) format('woff2');
    }
